TELEGRAM_TOKEN=token

LLM_HOST=http://127.0.0.1:11434
#LLM_NAME=qwen2.5:3b - галлюцинирует на каждом запросе на CPU
#LLM_NAME=qwen2.5:14b - для GPU в облаке. Локальная GTX 1650 не вывозит
LLM_NAME=qwen2.5:7b

PG_DB=llm
PG_USER=user
PG_PASSWORD=password
PG_PORT=25432

CONFLUENCE_URL=
CONFLUENCE_USER=
CONFLUENCE_TOKEN=