TELEGRAM_TOKEN=token
CONFLUENCE_URL=https://your-domain.atlassian.net
CONFLUENCE_USER=email@example.com
CONFLUENCE_TOKEN=token
OLLAMA_HOST=http://ollama:11434

PG_DB=llm
PG_USER=user
PG_PASSWORD=password
PG_PORT=25432